.btn {
    display: inline-block;

    background: #8b2c2c;
    color: white;

    padding: 10px 25px;

    border-radius: 8px;

    font-size: 16px;

    text-decoration: none;
}

.btn:hover {
    background: #6e1f1f;
}
button:hover {
    background: #6e1f1f;
}

hr {
    margin: 30px auto;
    width: 70%;
}
